<!DOCTYPE html>
<html dir='rtl' lang="en">
<head> <meta charset="UTF-8">
    <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.min.css">
    <title>navbar</title>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="ui inverted segment"  id=”navbar”>
  <div class="ui inverted secondary menu">
    <a class="active item"  id=”homepage” href=''>
      صفحه اصلی
    </a>
    <a class="item" id=”login”>
      ورود
    </a>
    <a class="item" a id=”register”>
      ثبت نام
    </a>
  </div>
</div>

<div>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>